@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
}

body{
    max-width: 1600px;
    margin: 0;
}

/**HEADER**/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header a{
    align-self: center;
}

header a img{
    height: 90px;
    width: 90px;
    margin-top: 50px;
 }

header nav ul{
    padding-left: 0;
    text-align: center;
}

header nav ul li{
    list-style: none;
    margin: 10px;
    padding: 5px;
}

header nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.contact-btn{
    font-weight: bold;
    background-color: #e6bd43;
    padding: 10px;
}

/**Kilde: https://stackoverflow.com/questions/17318170/highlighting-the-current-page-in-a-list-of-links-using-css-html**/
.current{
    border-bottom-style: solid;
    border-color: #e6bd43;
    font-weight: bold;
}
/**SLUTT**/

/**INDEX.HTML**/
#flexboks1{
    display: flex;
    flex-direction: column;
    background-image: url(../img/kontor1.jpg);
    background-size: cover;
    padding-top: 20px;
}

#flexboks1 h2{
    text-align: center;
    font-size: 2rem;
    margin: 26px 26px 0 26px;
}

#flexboks1 p{
    text-align: center;
    margin: 16px 20px 16px 20px;
}

#flexboks1 a{
    align-self: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #e6bd43;
    color: #000;
    margin: 0 50px 60px 50px;
    padding: 10px 10px 10px 10px;
}

#flexboks2{
    display: flex;
    flex-direction: column;
}

#flexboks2 h2{
    text-align: center;
    margin: 40px 16px 19px 16px;
}

#flexboks2 p{
    text-align: center;
    margin: 16px 16px 40px 16px;
}

#flexboks3{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e6bd43;
    padding-bottom: 90px;
}

#flexboks3 article img{
    width: 200px;
    height: 200px;
    margin: 30px;
}

#flexboks3 article h2{
    text-align: left;
    margin: 10px 80px 16px 80px;
}

#flexboks3 article p{
    text-align: left;
    padding: 0 0 20px 0;
    margin: 10px 80px 16px 80px; 
}

.border-btn{
    text-align: center;
    font-weight: bold;
    border-style: solid;
    color: #000;
    text-decoration: none;
    padding: 20px 10px 20px 10px;
    margin: 20px 80px 20px 80px;
}

#services h3{
    margin: 40px;
    font-size: 1.5rem;
}

#flexboks4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#flexboks4 h3{
    align-self: center;
}

#flexboks4 i{
    align-self: center;
    scale: 1.5;
}

#flexboks4 article h4{
    text-align: center;
}

#flexboks4 article p{
    text-align: center;
    margin: 16px;
}

#services{
    text-align: center;
}

#flex-ikon1{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#flex-ikon1 h4{
    margin: 20px 0 0 0;
}

#flex-ikon2{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#flex-ikon2 h4{
    margin: 20px 0 0 0;
}

#flex-ikon3{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#flex-ikon3 h4{
    margin: 20px 0 0 0;
}

#flex-ikon4{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#flex-ikon4 h4{
    margin: 20px 0 0 0;
}

#flexboks5{
    display: flex;
    flex-direction: column;
    background-color: rgb(239, 239, 239);
    padding-bottom: 40px;
    padding-top: 40px;
}

#flexboks5 h5{
    font-size: 1rem;
    align-self: center;
}

#flexboks5 article{
    align-self: center;
}

#flexboks5 article input{
    padding: 10px;
    border: none;
}

.gul-btn{
    background-color: #e6bd43;
    border: none;
}
/**SLUTT**/

/**ABOUT.HTML**/
/**Kilde: https://stackoverflow.com/questions/44414722/how-to-change-the-opacity-of-background-without-changing-the-content-of-it**/
#flexboks6{
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding: 40px;
    background: rgba(244, 246, 246, 0.6)
}

#flexboks6 h1{
    margin: 0;
}

#flexboks6 a{
    font-weight: bold;
    align-self: center;
    text-decoration: none;
    background-color: #e6bd43;
    color: #000;
    padding: 10px;
    margin: 10px;
}

#about-bakgrunn{
    background-image: url(../img/kontor2.jpg);
    background-size: cover;
    padding: 10px;
}

#clients-bakgrunn{
    background-color: #e6bd43;
    padding: 20px 10px 30px 10px;
}

#clients-bakgrunn h4{
    text-align: center;
}

#flexboks7{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#flexboks7 img{
    width: 100px;
    height: 100px;
    margin: 10px;
}

#flexboks8{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#gray-bakgrunn-overskrift{
    font-size: 1rem;
    background-color: rgb(239, 239, 239);
    padding: 20px;
    text-align: center;
}

#gray-bakgrunn{
    background-color: rgb(239, 239, 239);
    padding: 10px 0 10px 0;
}

#gray-bakgrunn h5{
    margin: 0 20px 0 20px;
}

.input-felt{
    border-style: none;
    height: 30px;
}

#message{
    height: 100px;
    border-style: none;
}

.send-btn{
    font-weight: bold;
    background-color: #e6bd43;
    border: none;
    width: fit-content;
    padding: 10px;
    margin: 5px 0 0 0;
}

#contact-info-bakgrunn{
    background-color: rgb(239, 239, 239);
    padding: 10px;
}

#flexboks9{
    display: flex;
    flex-direction: column;
}

#flexboks9 h5{
    font-size: 1rem;
    margin: 20px;
}

#flexboks9 p{
    margin: 20px;
}

#adresse{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 60px 5px 0;
}

#adresse p{
    margin: 0;
}

#adresse i{
    color: #525252;
}

#tlf{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 170px 5px 0;
}

#tlf p{
    margin: 0;
}

#tlf i{
    color: #525252;
}

#mail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 115px 5px 0;
}

#mail p{
    margin: 0;
}

#mail i{
    color: #525252;
}

#e-post{
    text-decoration: underline;
    color: rgb(89, 0, 255);
}

/**Kilde: https://stackoverflow.com/questions/10250961/full-width-google-map-and-css**/
#map iframe{
    width: 100%;
    height: 200px;
    position: relative;
}
/**SLUTT**/

/**PORTFOLIO.HTML**/
#portfolio-bakgrunn{
    background-image: url(../img/kontor1.jpg);
    background-size: cover;
    padding: 100px 0 100px 0;
}

#portfolio-bakgrunn h1{
    font-size: 2rem;
    text-align: center;
}

.overskrift{
    margin: 40px;
    border-bottom-style: solid;
    border-color: #e6bd43;
    padding: 10px 0 10px 0;
}

#flexboks10{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    padding: 0;
    margin: 30px;
}

#flexboks10 li{
    list-style: none;
    margin: 10px 0 10px 0;
}

#flexboks10 li a{
    border-style: solid;
    border-width: 3px;
    color: #000;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
}

#flexboks11{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#bilde-left{
    margin-bottom: 30px;
    flex-grow: 0.3;
    max-width: 692px;
    max-height: 692px;
}

#flexboks11 img{
    width: 100%;
}

#flexboks11 figure figcaption p{
    font-weight: bold;
}

.bilde-max-min{
    min-width: 200px;
    max-width: 350px;
}

#flexboks12{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#flexboks12 img{
    width: 100%;
}

#flexboks12 figure figcaption p{
    font-weight: bold;
}

#flexboks13{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#flexboks13 figure{
    flex-grow: 0.3;
}

#flexboks13 figure img{
    width: 100%;
    max-width: 692px;
    max-height: 692px;
}

#flexboks13 figure figcaption p{
    font-weight: bold;
}
/**SLUTT**/

/**FOOTER**/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #252525;
    color: #fff;
}

footer a{
    align-self: center;
}

footer a img{
    width: 90px;
    height: 90px;
    margin-top: 50px;
}

footer p{
    text-align: center;
    margin-bottom: 0;
}

footer ul{
    padding-left: 0;
    text-align: center;
}

footer ul li{
    display: inline;
    list-style: none;
}

footer ul li a{
    color: #fff;
    scale: 2.0;
    padding: 5px;
    margin: 0 15px 0 15px;
}
/**SLUTT**/

@media only screen and (min-width:650px){

    #grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    header{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        flex-direction: row;
        justify-content: space-between;
    }

    header a img{
        margin: 20px;
    }

    header nav{
        align-self: center;
    }

    header nav ul{
        margin: 20px;
    }

    header nav ul li{
        display: inline;
    }
    /**Kilde: https://stackoverflow.com/questions/20289481/css-change-background-color-on-hover**/
    .contact-btn:hover{
        background-color: #252525;
        color: #e6bd43;
    }

    main{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    /**INDEX.HTML DESKTOP**/
    #flexboks1 a:hover{
        background-color: #252525;
        color: #e6bd43;
    }

    #flexboks3{
        flex-direction: row;
        padding-bottom: 20px;
    }

    #flexboks3 article img{
        width: 350px;
        height: 350px;
        margin: 40px 40px 40px 100px;
    }

    #flexboks3 article h2{
        text-align: left;
        margin: 10px 80px 16px 10px;
    }
    
    #flexboks3 article p{
        text-align: left;
        padding: 0 0 40px 0;
        margin: 10px 100px 16px 10px; 
    }

    #flexboks3 article a:hover{
        background-color: #252525;
        color: #e6bd43;
        border-color: #252525;
    }
    
    .border-btn{
        text-align: center;
        border-style: solid;
        color: #000;
        text-decoration: none;
        padding: 20px 10px 20px 10px;
        margin: 20px 80px 20px 10px;
    }

    .gul-btn:hover{
        background-color: #252525;
        color: #e6bd43;
    }
    /**SLUTT**/

    /**ABOUT.HTML DESKTOP**/
    #about-bakgrunn{
        padding-left: 50%;
    }

    #flexboks6 a{
        align-self: first baseline;
        margin-left: 0;
    }

    #flexboks6 a:hover{
        background-color: #252525;
        color: #e6bd43;
    }

    #flexboks7{
        justify-content: space-evenly;
        margin: 0 100px 0 100px;
    }

    #flex-desktop{
        display: flex;
        flex-direction: row;
    }

    #gray-bakgrunn-overskrift{
        background-color: rgb(239, 239, 239);
        padding: 20px;
    }

    /**Kilde: https://stackoverflow.com/questions/29503227/how-to-make-flexbox-items-the-same-size**/
    #gray-bakgrunn{
        padding: 20px 20px 20px 50px;
        flex: 1 1 0;
    }

    #contact-info-bakgrunn{
        flex: 1 1 0;
        padding: 20px 50px 20px 20px;
    }

    #flexboks9 h5{
        margin: 0 20px 0 20px;
    }

    #adresse{
        max-width: 300px;
    }

    #tlf{
        max-width: 200px;
    }

    #mail{
        max-width: 256px;
    }

    .send-btn:hover{
        background-color: #252525;
        color: #e6bd43;
    }
    /**SLUTT**/

    /**PORTFOLIO.HTML DESKTOP**/
    #flexboks10 li a:hover{
        background-color: #252525;
        color: #e6bd43;
        border-color: #252525;
    }

    /**Kilde: https://nestedsoftware.com/2019/11/05/card-with-expand-on-hover-effect-2ccm.200941.html**/
    #flexboks11 figure:hover{
        transform: translate3D(0,-1px,0) scale(1.1);
        transition: all 1s ease;
    }

    #flexboks12 figure:hover{
        transform: translate3D(0,-1px,0) scale(1.1);
        transition: all 1s ease;
    }

    #flexboks13 figure:hover{
        transform: translate3D(0,-1px,0) scale(1.1);
        transition: all 1s ease;
    }
    /**SLUTT**/

    footer{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        flex-direction: row;
        justify-content: space-between;
    }

    footer a img{
        margin: 40px 20px 40px 20px;
    }

    footer p{
        align-self: center;
        margin-left: 70px;
    }

    footer ul{
        align-self: center;
        margin: 20px;
    }



}