
*{
    box-sizing: border-box;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
}

body{
    margin: 0;
}

/**HEADER**/
header{
    display: flex;
    justify-content: center;
}

header nav a img{
    height: 90px;
    width: 90px;
    margin-top: 50px;
    margin-left: 10px;
 }

header nav ul{
    padding-left: 0;
    text-align: center;
}

header nav ul li{
    list-style: none;
    margin: 10px;
    padding: 5px;
}

header nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.contact-btn{
    background-color: #e6bd43;
    padding: 10px;
}
/**SLUTT**/

/**OBS SJEKK MARGIN PÅ SIDENE SÅ DET BLIR CA LIKT PÅ ALLE SIDENEN**/

/**INDEX.HTML**/
#flexboks1{
    display: flex;
    flex-direction: column;
    background-image: url(../img/kontor.jpg);
}

#flexboks1 h2{
    text-align: center;
}

#flexboks1 p{
    text-align: center;
    margin: 16px;
}

#flexboks1 a{
    align-self: center;
    text-decoration: none;
    background-color: #e6bd43;
    color: #000;
    margin: 0 50px 60px 50px;
    padding: 10px 50px 10px 10px;
}

#flexboks2{
    display: flex;
    flex-direction: column;
}

#flexboks2 h2{
    text-align: center;
    margin: 30px 16px 19px 16px;
}

#flexboks2 p{
    text-align: center;
    margin: 16px;
}

#flexboks3{
    display: flex;
    flex-direction: column;
    background-color: #e6bd43;
}

#flexboks3 img{
    align-self: center;
    width: 200px;
    height: 200px;
    margin: 30px;
}

#flexboks3 h2{
    align-self: center;
}

#flexboks3 p{
    text-align: left;
    margin: 10px 80px 16px 80px; 
}

.border-btn{
    align-self: center;
    border-style: solid;
    color: #000;
    text-decoration: none;
    padding: 20px 50px 20px 10px;
    margin: 5px 10px 70px 10px;
}

#flexboks4{
    display: flex;
    flex-direction: column;
}

#flexboks4 h3{
    align-self: center;
}

#flexboks4 i{
    align-self: center;
    scale: 1.5;
}

#flexboks4 article h4{
    text-align: center;
}

#flexboks4 article p{
    text-align: center;
    margin: 16px;
}

#flexboks5{
    display: flex;
    flex-direction: column;
    background-color: rgb(239, 239, 239);
    padding-bottom: 40px;
    padding-top: 40px;
}

#flexboks5 h5{
    align-self: center;
}

#flexboks5 article{
    align-self: center;
}

#flexboks5 article input{
    padding: 10px;
}

.gul-btn{
    background-color: #e6bd43;
    border: none;
}
/**SLUTT**/

/**ABOUT.HTML**/
#flexboks6{
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding: 40px;
    background-color: #fff;
}

#flexboks6 h1{
    margin: 0;
}

#flexboks6 a{
    align-self: center;
    text-decoration: none;
    background-color: #e6bd43;
    color: #000;
    padding: 10px;
    margin: 10px;
}

#about-bakgrunn{
    background-image: url(../img/kontor.jpg);
}

#clients-bakgrunn{
    background-color: #e6bd43;
    padding: 20px 10px 30px 10px;
}

#clients-bakgrunn h4{
    text-align: center;
}

#flexboks7{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#flexboks7 img{
    width: 100px;
    height: 100px;
    margin: 10px;
}
/**DENNE MÅ FIKSES SÅ SKJEMA LIGGER RIKTIG, SJEKK HVOR FLEX MÅ LIGGE**/
#flexboks8{
    display: flex;
    flex-direction: column;
}

#flexboks9{
    display: flex;
    flex-direction: column;
    background-color: rgb(239, 239, 239);
}

#flexboks9 h5{
    margin: 16px;
}

#flexboks9 i{
    color: #525252;
}

#flexboks9 p{
    margin: 16px;
}

#map{
    width: 100%;
}
/**SLUTT**/

/**PORTFOLIO.HTML**/
#portfolio-bakgrunn{
    background-image: url(../img/kontor.jpg);
    padding: 100px 0 100px 0;
}

#portfolio-bakgrunn h1{
    text-align: center;
}

.overskrift{
    margin: 40px;
    border-bottom-style: solid;
    border-color: #e6bd43;
    padding: 0 0 10px 0;
}

#flexboks10{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    padding: 0;
    margin: 30px;
}

#flexboks10 li{
    list-style: none;
    margin: 10px 0 10px 0;
}

#flexboks10 li a{
    border-style: solid;
    border-width: 3px;
    color: #000;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
}

#flexboks11{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#flexboks11 img{
    width: 100%;
    margin: 0 40px 0 40px;
}

#flexboks12{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#flexboks12 img{
    width: 100%;
    margin: 0 40px 0 40px;
}

#flexboks13{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#flexboks13 img{
    width: 100%;
    margin: 0 40px 0 40px;
}
/**SLUTT**/

/**FOOTER**/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #252525;
    color: #fff;
}

footer a{
    align-self: center;
}

footer a img{
    width: 90px;
    height: 90px;
    margin-top: 50px;
}

footer p{
    text-align: center;
    margin-bottom: 0;
}

footer ul{
    padding-left: 0;
    text-align: center;
}

footer ul li{
    display: inline;
    list-style: none;
}

footer ul li a{
    color: #fff;
    scale: 2.0;
    padding: 5px;
    margin: 0 15px 0 15px;
}
/**SLUTT**/

@media only screen and (min-width:600px){

    #grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    header{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    main{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    footer{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

}